 /* FONTS DESCARGADAS DE GOOGLE FONT */
@font-face {
  font-family: "Lato-Bold";
  src:url("../assets/fonts/Lato-Bold.ttf");
}
@font-face {
  font-family: "Lato-Regular";
  src:url("../assets/fonts/Lato-Regular.ttf");
}
html,
body{
  padding: 0;
  margin: 0;
}
 /* NAVBAR */
 header{
   width: 100%;
   background: #C4C4C4 0% 0% no-repeat padding-box;
   opacity: 0.7;
 }
.navbar{
  width: 100%;
  height: 50px;
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
}
.contentNav{
  width: 82vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
}
.icon{
  width: 200px;
  display: flex;
  justify-content: center;
  align-self: center;
}
.icon img{
  width: 9em;
  height: 2em;
  display: flex;
  align-self: center;
  opacity: 1;
}
.navbar ul {
  padding: 0;
  margin-left: 1em;
  width: 888px;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: center;
}
.navbar ul li{
  margin-left: 1em;
  margin-right: 1em;
  font-family: "Lato-Bold";
  font-size: 1rem;
  color: #000000;
  cursor: pointer;
  opacity: 1;
}
.hidden{
  display: none;
}
.submenuV2{
  position: absolute;
  top: 5%;
  left: 26%;
  background: #C4C4C4 0% 0% no-repeat padding-box;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 170px;
  height: 170px;
  list-style: none;
  z-index: 1;
}
.submenuV2 li{
  margin:1em;
  font-family: "Lato-Bold";
  opacity: 1;
  color: #000000;
  cursor: pointer;
}

 /* BODY */
main{
  width: 100%;
}
.container{
  display: flex;
  width: 82vw;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
.left{
  width: 200px;
  height: 619px;
  display: flex;
  justify-content: center;
}
.background{
  width: 100%;
  height: 100%;
  margin: 0.5em;
  background: #CA5310 0% 0% no-repeat padding-box;
  box-sizing: border-box;
}
.backgroundV2{
  width: 100%;
  height: 100%;
  margin: 0.5em;
  background: #C4C4C4 0% 0% no-repeat padding-box;
  box-sizing: border-box;
}
.rigth{
  width: 100%;
  height: 619px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.title{
  text-align: center;
  font-family: "Lato-Regular";
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
.resHidden{
  display: none;
}
.menu{
  display: none;
}
.parrafo{
  text-align: center;
  font-family: "Lato-Bold";
}

 /* CARD DE PRODUCTO */
.card{
  width: 200px;
  height: 300px;
  background: #EAEAEA 0% 0% no-repeat padding-box;
  border: 1px solid #000000;
  opacity: 1;
  margin: 0.5em;
  display: flex;
  flex-direction: column;
}
.card:hover{
  box-shadow: 2px 2px 5px black;
}
.card h2, .card p{
  font-size: 12px;
  margin: 0;
  margin-left: 1em;
  margin-right: 1em;
}
.card h2{
  font-family: "Lato-Bold";
}
.card p{
  font-family: "Lato-Regular";
}
.card button{
  width: 170px;
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
  font-family: "Lato-Bold";
  font-size: 14px;
  cursor: pointer;
}
.contentImage{
  margin: 1em;
}
#imageCard{
  width: 170px;
  height: 170px;
}
.resNoHidden{
  display: none;
}

/* MOBILE */
@media screen and (max-width:480px){
  .submenuV2{
    top:8%;
    left:35%;
    z-index: 2;
    background-color: white;
  }
}
@media screen and (max-width:820px){
  .navbar{
    height: 70px;
  }
  .submenuV2{
    top:8%;
    z-index: 2;
    background-color: white;
  }
  .resNoHidden{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.4em;
    width: 80%;
    height: 100%;
    z-index: 1;
    background-color: white;
    padding: 0;
    list-style: none;
    box-shadow: 0px 20px 20px darkgray;
  }
  .resNoHidden li{
    margin: 1em;
    font-family: "Lato-Bold";
  }
  .menu{
    display: flex;
    cursor: pointer;
  }
  .menu img{
    width: 1.6em;
    height: 1.6em;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-left: 1em;
  }
  .icon{
    width: 100%;
    height: 50px;
  }
  .icon img{
    width: 11em;
    height: 2.6em;
    padding-right: 4em;
    margin-top: 0.3em;
    margin-left: auto;
    margin-right: auto;
  }
  .contentNav,.container{
    width: 100%;
  }
  .left,.navbar ul, .navbarV2 ul{
    display: none !important;
  }
  .rigth{
    width: 100%;
    justify-content: center;
  }
}
@media screen and (max-width:1080px){
  .contentNav{
    width: 100%;
  }
  .navbar ul {
    width: 100%
  }
}
